@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "korLibrary";
  src: url("/fonts/korLibrary_kr.ttf") format("truetype");
}

@font-face {
  font-family: "korLibrary_en";
  src: url("/fonts/korLibrary_en.ttf") format("truetype");
}

@font-face {
  font-family: "jalnan";
  src: url("/fonts/Jalnan2TTF.ttf") format("truetype");
}

@layer components {
  li > p {
    @apply inline;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  /* mobile only */
  @media screen and (max-width: 990px) {
    .res_tbl_wrap table thead {
      display: none;
    }
    .res_tbl_wrap table tbody tr {
      border-bottom: 1px solid #efefef;
    }
    .res_tbl_wrap table tbody tr td {
      width: 100%;
      display: flex;
      margin-bottom: 2px;
      padding: 5px;
      border-bottom: none;
      font-size: 14px;
      line-height: 18px;
    }
    .res_tbl_wrap table tbody tr td:first-child {
      padding-top: 16px;
    }
    .res_tbl_wrap table tbody tr td:last-child {
      padding-bottom: 15px;
    }
    .res_tbl_wrap table tbody tr td:before {
      display: inline-block;
      margin-right: 12px;
      font-weight: 700;
      content: attr(data-label);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

code {
  counter-reset: line;
}

/* 코드 블록 스타일 */
[data-rehype-pretty-code-figure] pre {
  overflow-x: auto;
  padding: 1rem;
  border: 1px solid #e1e4e8; /* One Light 색상 */
  border-radius: 0.5rem;
  background-color: #fafbfc; /* 밝은 배경색 */
  margin-top: 0;
  position: relative; /* 라인 번호 절대 위치 설정을 위한 상대 위치 */
}

/* 코드 블록 제목 스타일 */
[data-rehype-pretty-code-title] {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.6rem 1rem;
  border: 1px solid #e1e4e8;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: none;
  background-color: #f1f3f5; /* 제목 배경색 */
  color: #24292e; /* 제목 텍스트 색상 */
}

/* 다크 모드에서의 코드 블록 스타일 */
.dark [data-rehype-pretty-code-figure] pre {
  border: 1px solid #333;
  background-color: #1e1e1e;
  color: #d4d4d4;
}

/* 다크 모드에서의 코드 블록 제목 스타일 */
.dark [data-rehype-pretty-code-title] {
  border: 1px solid #333;
  background-color: #2d2d2d;
  color: #d4d4d4;
}

/* 다크 모드에서의 문법 강조 스타일 */
.dark [data-rehype-pretty-code-figure] .token.keyword {
  color: #c586c0;
}

.dark [data-rehype-pretty-code-figure] .token.string {
  color: #ce9178;
}

.dark [data-rehype-pretty-code-figure] .token.comment {
  color: #6a737d;
}

.dark [data-rehype-pretty-code-figure] .token.function {
  color: #dcdcaa; /* 함수 색상 */
}

.dark [data-rehype-pretty-code-figure] .token.number {
  color: #b5cea8; /* 숫자 색상 */
}

/* 코드 라인 번호 스타일 */
[data-rehype-pretty-code-figure] pre code {
  display: flex;
  position: relative;
  padding-left: 3rem; /* 라인 번호를 위한 패딩 */
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 2.5rem; /* 라인 번호 너비 조정 */
  margin-right: 1rem;
  text-align: right;
  color: #6a737d; /* 연한 회색 */
  background: #fafbfc; /* 코드 배경과 같은 색상 */
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  position: absolute; /* 절대 위치 지정 */
  left: 0; /* 코드 블록 내에서 왼쪽에 위치 */
}

/* 코드 블록 내 링크 스타일 */
[data-rehype-pretty-code-figure] a {
  color: #0366d6; /* 링크 색상 */
  text-decoration: underline; /* 밑줄 추가 */
}

[data-rehype-pretty-code-figure] a:hover {
  color: #0056b3; /* 링크 hover 색상 */
}
